<#list games as g>
<tr class="game"><td class="idstring">${g.id}</td>
<td class="name"><a href="/game/${g.id}">
<#if 0 < g.name?length> ${g.name}<#else> (Untitled Game) </#if></a></td>
<td class="kind">${g.kind}</td>
<td class="players">${g.players}</td>   </tr>
</#list>
